{% extends 'base.html' %}

{% block content %}
<div class="flex">
<div>
    <br>
<br>
<a class="btn btn-primary" href="{% url 'generate_pdf' }" role="button">Generate PDF</a> <button class="btn btn-primary">Generate CSV</button>
</div>

<div>
<table class="table table-striped-columns">
    <thead class="text-center">
        <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Event Name</th>
            <th scope="col">Start_date_time</th>
            <th scope="col">End_date_time</th>
            <th scope="col">Image</th>
            <th scope="col">Venue</th>
            <th scope="col">Organizer</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            {% if event.approval %}
                <tr class="text-center">
                  {{event.approval}}
                    <td scope="row" class="table-dark">{{ forloop.counter }}</td>
                    <td class="table-dark">{{ event.title }}</td>
                    <td class="table-dark">{{ event.start_date_time }}</td>
                    <td class="table-dark">{{ event.end_date_time}}</td>
                    <td class="table-dark"> <img class="rounded" alt="100%x280" src="media/{{event.image}}" style="width: 30%;height:10%;"> </td>
                    <td class="table-dark">{{ event.venue|capfirst }}</td>
                    <td class="table-dark">{{ event.organizer|capfirst }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
