{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/static/style1.css">
<h2 class="h1">Recent Events</h2> <hr style="color: black; width:30%;height:3px">
    <div class="main">
    <section class="container">
      
       <div class="card__container swiper">
          <div class="card__content">
            
             <div class="swiper-wrapper">
            
              {% for event in home %}
                <article class="card__article swiper-slide">
                   <div class="card__image">
                      <img src="media/{{event.image}}" alt="image" class="card__img">
                      <div class="card__shadow"></div>
                   </div>
    
                   <div class="card__data">
                      <h3 class="card__name">{{event.title}}</h3>
                      <p class="card__description">
                         {{event.description}}
                      </p>
    
                      <a href="#" class="card__button">View More</a>
                   </div>
                </article>
                {% endfor %}
              </div>
           
         </div>

            <!-- Navigation buttons -->
            <div class="swiper-button-next">
               <i class="ri-arrow-right-s-line"></i>
            </div>
            
            <div class="swiper-button-prev">
               <i class="ri-arrow-left-s-line"></i>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>
         </div>
      </section>
   </div>
  
      
      <!--=============== SWIPER JS ===============-->
      <script src="/static/swiper-bundle.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="/static/slide.js"></script>



         
            {% endblock %}
